@charset "UTF-8";

/*Configurações gerais*/
/*'@media' regra em css*/
@media all {
    *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    html, body{
        width: 100vw;
        height: 100vh;
        background-color: #233eff;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    h1{
        color: white;
        text-shadow: 2px 2px 0px #1526a7;
    }
}

/*Configurações retrato(portrait)*/
/*'@media' regra em css*/
@media screen and (orientation: portrait) {
    body{
        background-image: url(../img/cev-portrait.jpg);
        background-position: center bottom;
    } 
}

/*Configurações paisagem(landscape)*/
/*'@media' regra em css*/
@media screen and (orientation: landscape){
    body{
        background-image: url(../img/cev-landscape.jpg);
        background-position: left bottom;
    }
 }